/* #c90 for gold */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


#header{
    color: #c90;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 75pt;
    text-shadow: #000000 5px;
    background-color: #000000;
}

body{
    background-color: #000000;
}

#sub-header{
    color: #c90;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 45pt;
    text-shadow: #000000 5px;
    text-decoration: #000000;
    background-color: #000000;
}

#container{
    background-color: #ffffff;
    background-image: url(usa.jpg);
    
}

#listen{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 45pt;
    text-shadow: #000000 5px;
    text-decoration: #000000;
    color: #c90;
    background-color: #000000;
}

#baggg{
    margin: auto;
    display: flex;
    justify-self: center;
    height: 400px;
    width: 600px;
}

#below{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25pt;
    text-shadow: #000000 5px;
    text-decoration: #000000;
    color: #c90;
    background-color: #000000;
}

#no{
    margin: auto;
    display: flex;
    justify-self: center;
    height: 30px;
    width: auto;
}